<!--
POWERED BY MCHEVRO
INSTAGRAM : m.chevr0
GITHUB : https://github.com/mchevro
-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Tomcat Squad</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elearning Tomcat Squad">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/sidebar.css">
    <link rel="icon" href="../static/assets/img/tomcatlogo.png">
    <link rel="shortcut icon" href="../static/assets/img/tomcatlogo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- FONT AWESOME 6 -->
    <script src="https://kit.fontawesome.com/bc6d3d8101.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Tomcat Squad </div>
            <div class="list-group list-group-flush">
                <p class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-user-cog" aria-hidden="true"></i> {{nama}}
                </p>
                <a href="{{(url_for('index_admin_dashboard'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
                </a>
                <a href="{{(url_for('index_admin_materi'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-book" aria-hidden="true"></i> Materi
                </a>
                <a href="{{(url_for('index_admin_kuis'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="far fa-file-alt"></i> Kuis
                </a>
                <a href="{{(url_for('index_admin_kontributor'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-users" aria-hidden="true"></i> Kontributor
                </a>
                <a href="{{(url_for('logout_admin'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                </a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>
            </nav>
            {% with messages = get_flashed_messages()%}
            {% if messages %}
            {%for message in messages%}
            <p class="text-center">{{message}}</p>
            {% endfor %}
            {%endif%}
            {% endwith %}