{% include 'header.html' %}
        <!-- BUTTON SIDEBARR -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <i class="fas fa-bars" style="font-size: 25px;" id="menu-toggle"></i>
			</nav>
			<!-- CONTENT -->
			<div class="container">
				<div class="alert alert-info text-center" role="alert">
					<h4 class="alert-heading">{{nama}}</h4>
					<hr>
					<p class="mb-0">Selamat Belajar</p>
				</div>
				<div class="alert alert-warning alert-dismissible">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<div class="toast" id="myToast">
						{% for row in notifikasi %}
						<div class="toast-header">
							<strong class="mr-auto"><i class="fas fa-video"></i> New Video</strong>
							<small>{{row[3]}}</small>
						</div>
						<div class="toast-body">
							{{row[1]}}<a href="{{row[2]}}"> Click Here</a>
						</div>
						{%endfor%}
					</div>
				</div>
				<ul class="list-group list-group-horizontal text-center">
					<li class="list-group-item"><a href="https://api.whatsapp.com/send?phone=+6281381662912&text=Hallo%20Kak,%20Saya%20Mau%20Bergabung%20Jadi%20Kontributor" class="btn" style="background-color: rgb(177, 169, 104); color: azure;"><i class="fa fa-user-plus" aria-hidden="true"></i> Kontributor</a></li>
					<li class="list-group-item"><a href="https://api.whatsapp.com/send?phone=+6281381662912&text=Hallo%20Kak,%20Saya%20Mau%20Tanya%20Tentang%20%0aJudul%20:%20%0APertanyaan%20:" class="btn" style="background-color: rgb(77, 187, 132); color: azure;"><i class="fa fa-comments" aria-hidden="true"></i> Pertanyaan&ensp;</a></li>
					<li class="list-group-item"><a href="https://bit.ly/M1K4S4" class="btn" style="background-color: rgb(71, 185, 161); color: azure;"><i class="fas fa-download"></i></i> Download&ensp;&ensp;</a></li>
					<li class="list-group-item"><button type="button" class="btn" style="background-color: rgb(59, 157, 196); color: azure;" data-toggle="modal" data-target="#materi"><i class="fas fa-question-circle"></i> Jadwal&ensp;&ensp;&ensp;&ensp;&ensp;</a></button></li>
				</ul> 
			</div>
			<!-- MODAL MATERI -->
			<div class="modal fade" id="materi">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- HEADER MATERI -->
						<div class="modal-header">
							<h4 class="modal-title">Jadwal Update Materi</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- BODY MATERI -->
						<div class="modal-body">
							<table class="table table-bordered text-center">
								<thead>
									<tr>
									  <th>Hari</th>
									  <th>Jam</th>
									</tr>
								  </thead>
								  <tbody>
									<tr>
									  <td>Rabu</td>
									  <td>21:00 WIB</td>
									</tr>
									<tr>
									  <td>Sabtu</td>
									  <td>21:00 WIB</td>
									</tr>
								  </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		    <!-- Menu Toggle Script -->
			<script>
				$("#menu-toggle").click(function(e) {
					e.preventDefault();
					$("#wrapper").toggleClass("toggled");
					});
			</script>
</body>
</html>
