<!--
POWERED BY MCHEVRO
INSTAGRAM : m.chevr0
GITHUB : https://github.com/mchevro
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elearning Tomcat Squad">
    <meta charset="utf-8">
    <title>Tomcat Squad</title>
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../static/assets/css/sidebar.css">
    <link rel="icon" href="../../static/assets/img/tomcatlogo.png">
    <link rel="shortcut icon" href="../../static/assets/img/tomcatlogo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- FONT AWESOME 6 -->
    <script src="https://kit.fontawesome.com/bc6d3d8101.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Tomcat Squad </div>
            <div class="list-group list-group-flush">
                <a href="{{(url_for('index_dashboard'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
                </a>
                <a href="{{(url_for('index_materi'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-book" aria-hidden="true"></i> Materi
                </a>
                <a href="{{(url_for('index_kuis'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="far fa-file-alt"></i> &nbsp;Kuis
                </a>
                <a href="{{(url_for('index_tools'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-wrench"></i> Tools
                </a>
                <a href="{{(url_for('index_jurnal'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-bookmark" aria-hidden="true"></i> &nbsp;Refrensi Jurnal
                </a>
                <a href="{{(url_for('index_kontributor'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-users" aria-hidden="true"></i> Kontributor
                </a>
                <a href="{{(url_for('logout'))}}" class="list-group-item list-group-item-action bg-light">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                </a>
            </div>
        </div>
        <!-- BUTTON SIDEBARR -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <i class="fas fa-bars" style="font-size: 25px;" id="menu-toggle"></i>
			</nav>
            <!-- CONTENT -->
            <div class="container">
                <h1 class="text-center">IP CALCULATOR</h1>
                <hr style="background-color: black;">
                <form action="{{url_for('subnet')}}" method="post">
                    {{ form.csrf_token }}
                    <div class="form-row">
                        <div class="col">
                            <label for="ipaddress">IP ADDRESS</label>
                            <input type="text" class="form-control" id="ipaddress" placeholder="10.10.10.1" name="ipaddress" required>
                        </div>
                        <div class="col">
                            <label for="ipaddress">PREFIX</label>
                            <input type="number" class="form-control" id="prefix" placeholder="8" min="8" max="30" name="prefix" required>
                        </div>
                    </div>
{% with subnet = get_flashed_messages(category_filter=["subnet"])%}
{% if subnet %}
{%for message in subnet %}
<p class="text-center">{{message}}</p>
{% endfor %}
{%endif%}
{% endwith %}
                    <button type="submit" class="btn" style="margin-top: 5px; background-color: #9d4d91; color: #ffffff;" ><i class="fas fa-calculator"></i></button>
                <!-- Button to Open the Modal -->
                <div class="text-right">
                    <button type="button" class="btn" style="background-color: #db5f5f; color: #ffffff;" data-toggle="modal" data-target="#myModal">
                        <i class="fas fa-question-circle"></i> info
                    </button>
                </div>
                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Table IP</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table table-bordered table-sm text-center">
                                    <thead>
                                        <th colspan="2">RANGE IP</th>
                                        <tr>
                                            <th scope="col">KELAS</th>
                                            <th scope="col">IP ADDRESS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">A</th>
                                            <td>1 - 126</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">B</th>
                                            <td>128 - 191</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">C</th>
                                            <td>192 - 223</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-sm text-center" style="margin-top: 15px;">
                                    <thead>
                                        <th colspan="2">TABLE SUBNET</th>
                                        <tr>
                                            <th scope="col">PREFIX</th>
                                            <th scope="col">NETMASK</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="2">KELAS A</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">/8</th>
                                            <td>255.0.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/9</th>
                                            <td>255.128.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/10</th>
                                            <td>255.192.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/11</th>
                                            <td>255.224.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/12</th>
                                            <td>255.240.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/13</th>
                                            <td>255.248.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/14</th>
                                            <td>255.252.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/15</th>
                                            <td>255.254.0.0</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">KELAS B</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">/16</th>
                                            <td>255.255.0.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/17</th>
                                            <td>255.255.128.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/18</th>
                                            <td>255.255.192.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/19</th>
                                            <td>255.255.224.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/20</th>
                                            <td>255.255.240.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/21</th>
                                            <td>255.255.248.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/22</th>
                                            <td>255.255.252.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/23</th>
                                            <td>255.255.254.0</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">KELAS C</th>
                                        </tr>
                                        <tr>
                                            <th scope="row">/24</th>
                                            <td>255.255.255.0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/25</th>
                                            <td>255.255.255.128</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/26</th>
                                            <td>255.255.255.192</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/27</th>
                                            <td>255.255.255.224</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/28</th>
                                            <td>255.255.255.240</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/29</th>
                                            <td>255.255.255.248</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">/30</th>
                                            <td>255.255.255.252</td>
                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                             <!-- Modal footer -->
                             <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                             </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-center">&#169;TomcatSquad</p>
                </div>
            </div>
        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		    <!-- Menu Toggle Script -->
			<script>
				$("#menu-toggle").click(function(e) {
					e.preventDefault();
					$("#wrapper").toggleClass("toggled");
					});
			</script>
</body>
</html>
