{% include 'header_admin.html' %}

<div class="container">
    <div class="table-responsive text-center">
        <table class="table table-bordered table-striped">
            <h1>DATA USER</h1>
            <thead>
                <tr>
                    <th class="th">No</th>
                    <th class="th">Nama</th>
                    <th class="th">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(0, len) %}
                <tr>
                    <td>{{i}}</td>
                    <td>{{data_user[i][0]}}</td>
                    <td>{{data_user[i][1]}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>