{% include 'header_admin.html' %}
<div class="container">
<h5 class="font-weight-bold" style="color: #6a6a6a;">DASHBOARD JURNAL</h5>
{% with messages = get_flashed_messages()%}
{% if messages %}
{%for message in messages%}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>
{% endfor %}
{%endif%}
{% endwith %}
<div class="card" style="width: 100%; box-shadow: 0 15px 15px rgba(51, 54, 53, 0.17)">
  <div class="card-body">
    <div style="margin-bottom: 10px;">
      <button class="btn btn-success" data-toggle="modal" data-target="#modaledit{{tambah}}">
      <i class="fas fa-user-plus"></i> Tambah Jurnal
      </button>
    </div>
    <div id="modaledit{{tambah}}" class="modal fade text-dark" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Jurnal</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body text-dark">
            <form action="{{url_for('add_jurnal')}}" method="POST" enctype="multipart/form-data">
              {{ form.csrf_token }}
              <div class="form-group">
                <label>File</label>
                <input type="hidden" name="id">
                <input type="file" class="form-control" name="file" required>
              </div>
              <div class="form-group">
                <label>Nama</label>
                <input type="text" class="form-control" name="nama" maxlength="100" placeholder="Tomcat Squad" required>
              </div>
              <div class="form-group">
                <label>Judul</label>
                <input type="text" class="form-control" name="judul" maxlength="255" placeholder="KONFIGURASI LINUX SERVER" required>
              </div>
              <div class="form-group">
                <label>Tahun</label>
                <input type="date" class="form-control" name="tahun" placeholder="2020" required>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th class="th">No</th>
            <th class="th">Nama</th>
            <th class="th">Judul</th>
            <th class="th">File</th>
            <th class="th">Tahun</th>
            <th class="th">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for row in jurnal %}
          <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td><a href="https://files.tomcatsquad.web.id/jurnal/{{row[3]}}">Lihat</a></td>
            <td>{{row[4]}}</td>
            <td>
              <a href="/edit_jurnal/{{row.0}}" class="btn btn-primary btn-xs fa fa-pencil-square-o" data-toggle="modal" data-target="#modaledit{{row.0}}"></a>
              <a href="/delete_jurnal/{{row.3}}" class="btn btn-danger btn-xs fa fa-trash" onclick="return confirm('Apakah Yakin Mau Hapus Jurnal?')"></a>
            </td>
          </tr>
          <div id="modaledit{{row.0}}" class="modal fade text-dark" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Jurnal</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-dark">
                  <form action="{{url_for('edit_jurnal')}}" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                      <input type="hidden" name="id" value="{{row.0}}">
                      <label>Nama</label>
                      <input type="text" class="form-control" name="nama" maxlength="100" value="{{row.1}}" required>
                    </div>
                    <div class="form-group">
                      <label>Judul</label>
                      <input type="text" class="form-control" name="judul" maxlength="255" value="{{row.2}}" required>
                    </div>
                    <div class="form-group">
                      <label>Tahun</label>
                      <input type="date" class="form-control" name="tahun" value="{{row.4}}" required>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
</script>