{% include 'header_admin.html' %}
<div class="container">
<h5 class="font-weight-bold" style="color: #6a6a6a;">DASHBOARD MATERI</h5>
{% with messages = get_flashed_messages()%}
{% if messages %}
{%for message in messages%}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>
{% endfor %}
{%endif%}
{% endwith %}
<div class="row">
  <div class="col-sm-12">
    <div class="card" style="width: 100%; box-shadow: 0 15px 15px rgba(51, 54, 53, 0.17)">
      <div class="card-body">
        <div style="margin-bottom: 10px;">
            <button class="btn btn-success" data-toggle="modal" data-target="#modaledit{{tambah}}">
                <i class="fas fa-newspaper"></i> Tambah Materi
                </button>
                <button class="btn btn-info" data-toggle="modal" data-target="#Notifikasi">
                <i class="fas fa-exclamation"></i> Update Notifikasi
            </button>
        </div>
        <div id="modaledit{{tambah}}" class="modal fade text-dark" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Tambah Materi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body text-dark">
                <form action="{{url_for('add_materi')}}" method="POST" enctype="multipart/form-data">
                  {{ form.csrf_token }}
                  <div class="form-group">
                    <label>Thumbnail</label>
                    <input type="file" class="form-control" name="thumbnail" required>
                  </div>
                  <div class="form-group">
                    <label>Judul</label>
                    <input type="text" class="form-control" maxlength="50" name="judul" placeholder="Tutorial Debian 9" required>
                  </div>
                  <div class="form-group">
                    <label>Deskripsi</label>
                    <input type="text" class="form-control" maxlength="100" name="deskripsi" placeholder="Mempelajari cara konfigruasi debian 9" required>
                  </div>
                  <div class="form-group">
                    <label>Link Youtube</label>
                    <input type="text" class="form-control" maxlength="255" name="youtube" placeholder="https://www.youtube.com/embed/aE2ngxHNRzI?list=PL68UvONDEWz3oN38S9gqAzk8CUUBhAJWl" required>
                  </div>
                  <div class="form-group">
                    <label>Nama Modul</label>
                    <input type="text" class="form-control" name="modul" maxlength="100" placeholder="Tutorial Debian 9.pdf">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="Notifikasi" class="modal fade text-dark" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Notifikasi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body text-dark">
                {% for row in notifikasi %}
                <form action="{{url_for('edit_notifikasi')}}" method="POST">
                  {{ form.csrf_token }}
                  <div class="form-group">
                    <label>Judul</label>
                    <input type="hidden" name="id" value="{{row.0}}">
                    <input type="text" class="form-control" name="judul" maxlength="100" value="{{row.1}}" required>
                  </div>
                  <div class="form-group">
                    <label>Link</label>
                    <input type="text" class="form-control" name="link" value="{{row.2}}" required>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </div>
                  {%endfor%}
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped text-center">
            <thead>
              <tr>
                <th class="th">No</th>
                <th class="th">Thumbnail</th>
                <th class="th">Judul</th>
                <th class="th">Deskripsi</th>
                <th class="th">Link Youtube</th>
                <th class="th">Modul</th>
                <th class="th">Waktu</th>
                <th class="th">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for row in materi %}
              <tr>
                <td>{{row[0]}}</td>
                <td>
                  <img src="../../../static/assets/img/{{row[1]}}" alt="Silahkan Upload Foto" width="150" height="150">
                </td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>
                  <a href="/edit_materi/{{row.0}}" class="btn btn-primary btn-xs fa fa-pencil-square-o" data-toggle="modal" data-target="#modaledit{{row.0}}"></a>
                  <a href="/delete_materi/{{row.0}}" class="btn btn-danger btn-xs fa fa-trash" onclick="return confirm('Apakah Yakin Mau Hapus Materi?')"></a>
                </td>
              </tr>
              <div id="modaledit{{row.0}}" class="modal fade text-dark" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Edit Materi</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-dark">
                      <form action="{{url_for('edit_materi')}}" method="POST">
                        {{ form.csrf_token }}
                        <div class="form-group">
                          <input type="hidden" name="id" value="{{row.0}}">
                          <label>Judul</label>
                          <input type="text" class="form-control" name="judul" maxlength="50" value="{{row.2}}" required>
                        </div>
                        <div class="form-group">
                          <label>Deskripsi</label>
                          <input type="text" class="form-control" name="deskripsi" maxlength="100" value="{{row.3}}" required>
                        </div>
                        <div class="form-group">
                          <label>Link Youtube</label>
                          <input type="text" class="form-control" name="youtube" maxlength="255" value="{{row.4}}" required>
                        </div>
                        <div class="form-group">
                          <label>Nama Modul</label>
                          <input type="text" class="form-control" name="modul" maxlength="100" value="{{row.5}}">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
</script>